@mixin size($point) {
    @if $point==xs {
        @media (max-width: 767px) {
            @content ;
        }
    }
    @else if $point==sm {
        @media (max-width: 768px) {
            @content ;
        }
    }
    @else if $point==md {
        @media (max-width: 991px) {
            @content ;
        }
    }
    @else if $point==lg {
        @media (max-width: 1200px) {
            @content ;
        }
    }
}

a,
button,
input[type="submit"],
input[type="button"] {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    &:focus {
        outline: none;
    }
}

p {
margin:0;
}

body {
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    height: 100%;
}

.all {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.xxx {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
    appearance: none;
	    transition: 0.5s all;
	  &:focus {
        outline: none;
    }
}


@mixin overflow {
    width: 100%;
    -webkit-overflow-scrolling: touch !important;
    min-height: .01%;
    overflow-x: auto;
}


.flex {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    >[class*="col-"] {
        display: inline-flex;
        flex-direction: column;
    } 
	
	&.center {
        align-items: center;
    }
}

@mixin reset($type) {
    $resets: ( ul: ( list-style: none, margin: 0, padding: 0, ));
    @each $prop,
    $value in map-get($resets, $type) {
        @if type-of($value)=='map' {
            &>#{$prop} {
                @each $sub-prop,
                $sub-value in $value {
                    #{$sub-prop}: $sub-value;
                }
            }
        }
        @else {
            #{$prop}: $value;
        }
    }
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

@mixin reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin center {
    top: 50%;
    transform: translateY(-50%);
}

@mixin icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
}

@mixin after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin gallery {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@mixin resize {
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@mixin img16 {
    position: relative;
    padding-bottom: 56.2%;
    height: 0;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@mixin img100 {
    display: block;
    width: 100%;
    height: auto;
}

@mixin video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.btn {
    display: inline-block;
    border: 0;
    outline: none;
    border: 0;
    padding: 0;
}

.btn-default {
    border-radius: 3px;
    background-color: #30c468;
    color: #ffffff;
    padding: 10px 15px;
	  white-space: nowrap;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 0;
    outline: none;
    border: 0;
    padding: 0;
    &:hover,
    &:active,
    &:focus {
        background: #4CAF50;
        color: #fff;
        border: 0;
        outline: none;
    }
}

.body_menu {
    overflow-y: hidden;
}

.btn-block {
    width: 100%;
}

.text-center {
text-align: center;
}

p {
    margin: 0;
}

@mixin focus {
    &:focus {
        outline: none;
    }
}

@import "partials/header";
@import "partials/menu";
@import "partials/slick";
@import "partials/footer";
